body{
    overflow-y: scroll;
}

#container{
    /* height: 600px;
    width: 400px; */
    border: 10px solid mediumturquoise;
    border-radius: 5%;
   
}

.imgdiv{
    height: 200px;
    width: 200px;
    padding: 1%;
    padding-left: 2%;
   
}

#newcont{
    height: 400px;
    width: 400px;
    border: 10px solid mediumturquoise;
    border-radius: 5%;
    margin: auto;
    overflow-y: scroll;
}

.div{
    color:midnightblue;
    padding-bottom: 30px;

}